/* TITULOS E DESTAQUES */

@font-face {
    src: url(../fonts/Roboto-BoldCondensed.ttf);
    font-family: 'Roboto';    
    /* font-weight: normal; */
} 

h1, h2, h3 {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #ffffff;
}

/* MENU */

@font-face {
    src: url(../fonts/Roboto-Condensed.ttf);
    font-family: 'Roboto';    
    /* font-weight: normal; */
} 

header .menu{
    font-family: 'Roboto'; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    color: #ffffff;
}


/* DEMAIS TEXTOS */

@font-face {
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: 'Roboto';    
} 

p {
    font-family: 'Roboto';
    color: #ffffff;
}