* {
  margin: 0 auto; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #171717; }
  body #redirect {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    padding-top: 100px;
    background-color: #222222e5; }
    @media (max-width: 1024px) {
      body #redirect {
        padding-top: 200px; } }
    body #redirect a {
      filter: brightness(0.5); }
      body #redirect a img {
        width: 320px; }
        body #redirect a img#mvp-link {
          margin-right: 20px; }
        @media (max-width: 1024px) {
          body #redirect a img {
            display: none; } }
      body #redirect a.mobile {
        display: none; }
        @media (max-width: 1024px) {
          body #redirect a.mobile {
            display: flex;
            width: 80%;
            height: 50px;
            margin: 20px auto;
            align-items: center;
            justify-content: center;
            background-color: #171717;
            color: #FFFFFF;
            border: 1px solid #44d0ff;
            text-decoration: none;
            font-size: 18px;
            max-width: 300px; } }
      body #redirect a:hover {
        filter: brightness(1); }
  @media (max-width: 768px) {
    body .fixed {
      display: none; } }
  body header {
    border-bottom: 1px solid #44d0ff;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #171717ce; }
    body header nav {
      height: 100%;
      max-width: 1360px; }
      body header nav .logo {
        width: 230px;
        height: 100%;
        background-image: url(../img/home/logo/logo-principal.png);
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        background-position-y: center;
        margin-left: 20px; }
        @media (max-width: 768px) {
          body header nav .logo {
            background-image: url(../img/home/logo/logo-tradicional-branco.png);
            background-repeat: no-repeat;
            background-position: initial;
            background-size: contain;
            margin-left: 20px; } }
      body header nav .menu {
        display: flex;
        float: right;
        padding: 0;
        align-items: center;
        height: 100%; }
        @media (max-width: 768px) {
          body header nav .menu {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            display: none; } }
        @media (max-width: 768px) {
          body header nav .menu.opening {
            display: block;
            height: 30px;
            width: 100%;
            position: relative;
            top: -3px;
            height: auto;
            transition: height 2s; } }
        body header nav .menu li {
          margin: 0 10px;
          text-align: center; }
          @media (max-width: 768px) {
            body header nav .menu li {
              border-bottom: 1px solid #44d0ff;
              margin: 0; } }
          body header nav .menu li a {
            text-decoration: none;
            filter: brightness(1);
            color: #ffffff; }
            @media (max-width: 768px) {
              body header nav .menu li a {
                color: #ffffff;
                background: #171717;
                display: block;
                padding: 1.5em 4em 1.5em 3em;
                text-transform: uppercase;
                text-decoration: none; } }
            body header nav .menu li a:hover {
              filter: brightness(0.7); }
      @media (max-width: 768px) {
        body header nav .menu-toggle {
          position: absolute;
          padding: 0.8em;
          top: 1em;
          right: .5em;
          cursor: pointer; } }
      @media (max-width: 768px) {
        body header nav .menu-toggle .hamburger {
          content: '';
          display: block;
          background: #EBEBD3;
          height: 3px;
          width: 2em;
          border-radius: 3px;
          -webkit-transition: all ease-in-out 350ms;
          transition: all ease-in-out 350ms; } }
      @media (max-width: 768px) {
        body header nav .menu-toggle .hamburger::before {
          content: '';
          display: block;
          background: #EBEBD3;
          height: 3px;
          width: 2em;
          border-radius: 3px;
          -webkit-transition: all ease-in-out 350ms;
          transition: all ease-in-out 350ms;
          -webkit-transform: translateY(-7px);
          transform: translateY(-7px); } }
      @media (max-width: 768px) {
        body header nav .menu-toggle .hamburger::after {
          content: '';
          display: block;
          background: #EBEBD3;
          height: 3px;
          width: 2em;
          border-radius: 3px;
          -webkit-transition: all ease-in-out 350ms;
          transition: all ease-in-out 350ms;
          -webkit-transform: translateY(4px);
          transform: translateY(4px); } }
      @media (max-width: 768px) {
        body header nav .menu-toggle.open .hamburger {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); } }
      @media (max-width: 768px) {
        body header nav .menu-toggle.open .hamburger::before {
          display: none; } }
      @media (max-width: 768px) {
        body header nav .menu-toggle.open .hamburger::after {
          -webkit-transform: translateY(-1px) rotate(-90deg);
          transform: translateY(-1px) rotate(-90deg); } }
  body section#services {
    padding-top: 80px;
    position: relative;
    clear: both; }
    body section#services h2 {
      width: 100%;
      text-align: center; }
    body section#services .rectangle-border-services {
      width: 120px;
      border: 2px solid #44d0ff;
      margin: 20px auto 30px auto; }
    body section#services .overlay-container {
      width: 50%;
      max-width: 720px; }
      @media (min-width: 769px) and (max-width: 1024px) {
        body section#services .overlay-container {
          width: 70%; } }
      @media (max-width: 768px) {
        body section#services .overlay-container {
          width: 80%; } }
      body section#services .overlay-container .container {
        display: flex; }
        @media (max-width: 768px) {
          body section#services .overlay-container .container {
            overflow: auto; } }
        body section#services .overlay-container .container .card {
          margin: 0 5px;
          flex: 1; }
          @media (max-width: 768px) {
            body section#services .overlay-container .container .card {
              width: 190px;
              flex: none;
              border: 1px solid #ffffff;
              box-sizing: border-box; } }
          @media (max-width: 768px) {
            body section#services .overlay-container .container .card .container-image {
              height: 0%; } }
          body section#services .overlay-container .container .card .container-image img {
            width: 100%;
            height: 364px;
            border-bottom: 2px solid #44d0ff; }
            @media (max-width: 768px) {
              body section#services .overlay-container .container .card .container-image img {
                display: none; } }
          @media (max-width: 768px) {
            body section#services .overlay-container .container .card .card-description {
              height: 100%; } }
          body section#services .overlay-container .container .card .card-description h3 {
            background-color: #161616;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            box-sizing: border-box; }
            @media (max-width: 768px) {
              body section#services .overlay-container .container .card .card-description h3 {
                height: auto; } }
          body section#services .overlay-container .container .card .card-description .box-description {
            height: 140px; }
            body section#services .overlay-container .container .card .card-description .box-description p {
              text-align: center;
              background-color: #ffffff;
              padding: 10px 5px;
              color: #444444;
              height: inherit;
              font-size: 17px;
              box-sizing: border-box; }
        body section#services .overlay-container .container .grey-rectangle.fixed {
          z-index: -1;
          position: absolute;
          left: 0;
          top: 250px;
          height: 410px;
          width: 100%;
          background-color: #2f2f2f; }
  body section#events {
    margin: 0 20%;
    padding-top: 80px; }
    body section#events .intro h2 {
      text-align: center; }
    body section#events .intro .rectangle-border {
      width: 80px;
      border: 2px solid #44d0ff;
      margin: 20px auto 30px auto; }
    body section#events .intro p {
      text-align: justify;
      color: #575757; }
    body section#events .main {
      margin-top: 80px; }
      body section#events .main:nth-child(2) {
        margin: 30px 0; }
      body section#events .main .banner-cpue2019 {
        height: 480px;
        background-image: url(../img/realizacoes/cpue2019/banner-cpue2019.png);
        background-repeat: no-repeat;
        background-position: center; }
      body section#events .main .banner-efest {
        height: 480px;
        background-image: url(../img/realizacoes/efest/banner-efest.jpg);
        background-repeat: no-repeat;
        background-position: center; }
      body section#events .main .banner-gamelab1 {
        height: 480px;
        background-image: url(../img/realizacoes/gamelab1/banner-gamelab1.jpg);
        background-repeat: no-repeat;
        background-position: center; }
      body section#events .main h2 {
        font-size: 30px;
        text-align: center;
        padding: 30px;
        border-bottom: 3px solid #44d0ff;
        max-width: 852px;
        box-sizing: border-box;
        cursor: pointer; }
        @media (max-width: 768px) {
          body section#events .main h2 {
            padding: 20px 5px; } }
        body section#events .main h2 button {
          float: right;
          background-color: transparent;
          color: #ffffff;
          border: 0;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 28px;
          width: 43px; }
          body section#events .main h2 button span {
            font-size: 13px;
            padding-top: 2px; }
            body section#events .main h2 button span.display-none {
              display: none; }
      body section#events .main .content {
        max-width: 852px; }
        body section#events .main .content .content-description {
          padding: 5%;
          text-align: justify; }
        body section#events .main .content .gallery {
          display: flex;
          flex-wrap: wrap; }
          body section#events .main .content .gallery img {
            width: 100%;
            height: 100%; }
  body section#about {
    padding-top: 100px; }
    @media (max-width: 768px) {
      body section#about {
        padding-top: 50px; } }
    body section#about .about-company-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      max-width: 1360px; }
      @media (max-width: 768px) {
        body section#about .about-company-container {
          margin: 40px 10% 100px 10%; } }
      body section#about .about-company-container .rectangle-border-about {
        width: 100px;
        border: 2px solid #44d0ff;
        margin: 20px auto 0px auto; }
        @media (max-width: 768px) {
          body section#about .about-company-container .rectangle-border-about {
            margin: 20px 10% 10px 10%; } }
      body section#about .about-company-container .text-container {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 5%; }
        body section#about .about-company-container .text-container span p {
          display: block;
          margin: 15px 10%;
          box-sizing: border-box;
          text-align: justify;
          color: #ffffff; }
          @media (max-width: 768px) {
            body section#about .about-company-container .text-container span p {
              margin: 15px 0; } }
        body section#about .about-company-container .text-container img.filter-logo {
          filter: contrast(0);
          height: 200px; }
          @media (max-width: 768px) {
            body section#about .about-company-container .text-container img.filter-logo {
              display: none; } }
    body section#about .ceo-profiles {
      display: flex; }
      @media (max-width: 768px) {
        body section#about .ceo-profiles {
          display: flex;
          flex-direction: column;
          margin: 0 10%; } }
      @media (max-width: 768px) {
        body section#about .ceo-profiles .profile {
          margin-bottom: 20px; } }
      body section#about .ceo-profiles .profile:first-child {
        background-color: #2f2f2f; }
        body section#about .ceo-profiles .profile:first-child .ceo-container {
          float: right;
          margin-right: 40px; }
          @media (max-width: 768px) {
            body section#about .ceo-profiles .profile:first-child .ceo-container {
              margin-left: 0;
              margin-right: 0; } }
          body section#about .ceo-profiles .profile:first-child .ceo-container .profile-info {
            text-align: right; }
            @media (max-width: 768px) {
              body section#about .ceo-profiles .profile:first-child .ceo-container .profile-info {
                position: initial;
                text-align: left;
                padding: 10px 20px; } }
      body section#about .ceo-profiles .profile:last-child {
        background-color: #404040; }
        body section#about .ceo-profiles .profile:last-child .ceo-container {
          float: left;
          margin-left: 40px; }
          @media (max-width: 768px) {
            body section#about .ceo-profiles .profile:last-child .ceo-container {
              margin-left: 0;
              margin-right: 0; } }
          body section#about .ceo-profiles .profile:last-child .ceo-container .profile-info {
            text-align: left; }
            @media (max-width: 768px) {
              body section#about .ceo-profiles .profile:last-child .ceo-container .profile-info {
                position: initial;
                text-align: left;
                padding: 10px 20px; } }
            @media (min-width: 769px) and (max-width: 1024px) {
              body section#about .ceo-profiles .profile:last-child .ceo-container .profile-info {
                font-size: 15px; } }
      body section#about .ceo-profiles .profile .ceo-container {
        width: 40%;
        text-align: center; }
        @media (max-width: 768px) {
          body section#about .ceo-profiles .profile .ceo-container {
            width: 100%; } }
        body section#about .ceo-profiles .profile .ceo-container .container-image {
          width: 211px;
          height: 400px; }
          body section#about .ceo-profiles .profile .ceo-container .container-image img {
            position: relative;
            bottom: 60px;
            width: 100%;
            height: 100%; }
            @media (max-width: 768px) {
              body section#about .ceo-profiles .profile .ceo-container .container-image img {
                position: initial; } }
        body section#about .ceo-profiles .profile .ceo-container .profile-info {
          position: relative;
          top: -30px; }
          body section#about .ceo-profiles .profile .ceo-container .profile-info i {
            font-size: 25px;
            color: #0275b4;
            padding: 5px 0; }
        body section#about .ceo-profiles .profile .ceo-container .profile-description {
          padding-bottom: 30px;
          text-align: justify;
          font-size: 1em; }
          @media (max-width: 768px) {
            body section#about .ceo-profiles .profile .ceo-container .profile-description {
              padding: 10px 20px; } }
  body footer {
    border-top: 1px solid #44d0ff; }
    body footer .footer {
      display: flex;
      flex-wrap: wrap; }
      body footer .footer img {
        height: 200px; }
      body footer .footer .contact {
        align-self: center; }
        body footer .footer .contact h3 {
          padding-bottom: 10px; }
          @media (max-width: 768px) {
            body footer .footer .contact h3 {
              text-align: center; } }
        body footer .footer .contact a {
          display: flex;
          padding: 10px 0;
          text-decoration: none; }
          body footer .footer .contact a i {
            flex: 1;
            margin-right: 5px;
            color: #ffffff; }
          body footer .footer .contact a p {
            flex: 20; }
            @media (max-width: 768px) {
              body footer .footer .contact a p {
                text-align: left; } }
    body footer span.copyright {
      display: block;
      width: 100%;
      text-align: right;
      padding: 5px 10px;
      margin: 3px 0;
      box-sizing: border-box; }
      body footer span.copyright a {
        text-decoration: none;
        color: #444444; }
