* {
    margin: 0 auto;
}

// @MIXINS

@mixin menu-toggle {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

// MEDIA QUERY

$tablet-width: 768px;

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

// CUSTOM CSS

html {
    scroll-behavior: smooth;

    body {

        div#modal-cpue {background-color: rgba(255, 0, 0, 0.151);}
        
        background-color: #171717;
        scroll-behavior: smooth;

        @include tablet {
            .fixed {
                display: none;
            }
        }

        header {
            border-bottom: 1px solid #44d0ff;
            display: block;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 70px;
            background-color: #171717ce;
        
            nav {
                height: 100%;
                float: right;
                width: 100%;

                .logo {

                    display: inline-flex;
                    width: 45%;
                    height: 100%;

                    background-image: url('/img/home/logo/logo-principal.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 300px;
                }

                .menu {
                    display: flex;
                    float: right;
                    padding: 0;
                    align-items: center;
                    height: 100%;
                    width: 55%;
    
                    li {
                        margin: 0 10px;
                        text-align: center;
    
                        a {
                            text-decoration: none;
                            color: #ffffff;
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            @include tablet {
                nav {
                    margin: 0;
                    padding: 0;
                    
                    .logo {
                        background-image: url('/img/home/logo/logo-tradicional-branco.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100px;
                    }

                    ul.menu {
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        display: none;
                        
                        li {
                            border-bottom: 1px solid #44d0ff;
                            margin: 0;

                            a {
                                color: #ffffff;
                                background: #171717;
                                display: block;
                                padding: 1.5em 4em 1.5em 3em;
                                text-transform: uppercase;
                                text-decoration: none;
                            }
                        }
                    }
                  
                    ul.opening {
                        display: block;
                        height: 30px;
                        width: 100%;
                        position: relative;
                        top: -3px;
                        height: auto;
                        transition: height 2s;
                    }
                }
            }

            @include tablet {
                nav.site-nav {
                    
                    div.menu-toggle {
                        position: absolute;
                        padding: 0.8em;
                        top: 1em;
                        right: .5em;
                        cursor: pointer;
                      
                        .hamburger {
                            @include menu-toggle;

                            &:before {
                                @include menu-toggle;
                                -webkit-transform: translateY(-7px);
                                transform: translateY(-7px);
                            }

                            &:after {
                                @include menu-toggle;
                                -webkit-transform: translateY(4px);
                                transform: translateY(4px);
                            }
                        }

                        &.open .hamburger {
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            
                            &:before {
                                display: none;
                            }
    
                            &:after {
                                -webkit-transform: translateY(-1px) rotate(-90deg);
                                transform: translateY(-1px) rotate(-90deg);
                            }
                        }
                    }


                }
            }
        }

        section {
            margin: 150px 20%;

            .intro {

                h2 {
                    text-align: center;
                }
    
                .rectangle-border {
                    width: 80px;
                    border: 2px solid #44d0ff;
                    margin: 70px auto;
                }
    
                p {
                    text-align: justify;
                    color: #575757
                }
            }

            .main-cpue-2019 {
                margin: 100px 0;

                .banner {
                    height: 480px;
                    background-image: url('/img/portifolio/cpue-2019/banner.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                h2 {
                    font-size: 30px;
                    text-align: center;
                    padding: 30px;
                    border-bottom: 3px solid #44d0ff;

                    @include tablet {
                        padding: 20px 5px;
                    }

                    button {
                        float: right;
                        background-color: transparent;
                        color: #ffffff;
                        border: 0;
                    }
                }

                .content {

                    .content-description {
                        padding: 5%;
                        text-align: justify;
                    }

                    .gallery {
                        display: flex;
                        flex-wrap: wrap;

                        .image-container {
                            width: 33%;
                            padding: 5px;
                            box-sizing: border-box;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                    }
                }
            }
        }

        footer {

            border-top: 1px solid #44d0ff;

            .footer {
                
                display: flex;
                
                img {
                    height: 200px;
                }

                .contact {
                    align-self: center;

                    h3 {
                        padding-bottom: 10px;
                    }

                    a {
                        display: flex;
                        padding: 10px 0;
                        text-decoration: none;

                        i {
                            flex: 1;
                            margin-right: 5px;
                            color: #ffffff;
                        }

                        p {
                            flex: 20;
                        }
                    }
                }
            }

            span.copyright {
                display: block;
                width: 100%;
                text-align: right;
                padding: 5px 10px;
                margin: 3px 0;
                box-sizing: border-box;

                a {
                    text-decoration: none;
                    color: #444444;
                }

            }

            @include tablet {
                .footer {
                    display: block;
                    text-align: center;

                    .contact {
                        
                        h3 {
                            margin: 0 15%;
                            text-align: left;
                        }

                        a {
                            margin: 0 15%;
    
                            p {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}
