* {
    margin: 0 auto;
}

// @MIXINS

@mixin menu-toggle {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

// MEDIA QUERY

$tablet-width: 768px;

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

// CUSTOM CSS

html {
    scroll-behavior: smooth;

    body {
        
        background-color: #171717;
        scroll-behavior: smooth;

        @include tablet {
            .fixed {
                display: none;
            }
        }

        header {
            border-bottom: 1px solid #44d0ff;
            display: block;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 70px;
            background-color: #171717ce;
        
            nav {
                height: 100%;
                float: right;
                width: 100%;

                .logo {

                    display: inline-flex;
                    width: 45%;
                    height: 100%;

                    background-image: url('/img/home/logo/logo-principal.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 300px;
                }

                .menu {
                    display: flex;
                    float: right;
                    padding: 0;
                    align-items: center;
                    height: 100%;
                    width: 55%;
    
                    li {
                        margin: 0 10px;
                        text-align: center;
    
                        a {
                            text-decoration: none;
                            color: #ffffff;
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            @include tablet {
                nav {
                    margin: 0;
                    padding: 0;
                    
                    .logo {
                        background-image: url('/img/home/logo/logo-tradicional-branco.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100px;
                    }

                    ul.menu {
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        display: none;
                        
                        li {
                            border-bottom: 1px solid #44d0ff;
                            margin: 0;

                            a {
                                color: #ffffff;
                                background: #171717;
                                display: block;
                                padding: 1.5em 4em 1.5em 3em;
                                text-transform: uppercase;
                                text-decoration: none;
                            }
                        }
                    }
                  
                    ul.opening {
                        display: block;
                        height: 30px;
                        width: 100%;
                        position: relative;
                        top: -3px;
                        height: auto;
                        transition: height 2s;
                    }
                }
            }

            @include tablet {
                nav.site-nav {
                    
                    div.menu-toggle {
                        position: absolute;
                        padding: 0.8em;
                        top: 1em;
                        right: .5em;
                        cursor: pointer;
                      
                        .hamburger {
                            @include menu-toggle;

                            &:before {
                                @include menu-toggle;
                                -webkit-transform: translateY(-7px);
                                transform: translateY(-7px);
                            }

                            &:after {
                                @include menu-toggle;
                                -webkit-transform: translateY(4px);
                                transform: translateY(4px);
                            }
                        }

                        &.open .hamburger {
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            
                            &:before {
                                display: none;
                            }
    
                            &:after {
                                -webkit-transform: translateY(-1px) rotate(-90deg);
                                transform: translateY(-1px) rotate(-90deg);
                            }
                        }
                    }


                }
            }
        }

        section.banner  {
            @include tablet {
                #video {
                    display: none;
                }

                background-image: url(/img/home/banner/banner-home.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 300px;
                background-size: cover;
            }
        }

        section#about {
            padding-top: 100px;

            @include tablet {
                padding-top: 50px;
            }

            .about-company {
                display: flex;
                margin: 0 10% 150px 10%;

                img.filter-logo  {
                    filter: contrast(0);
                    height: 300px;
                    align-self: flex-end;
                }

                .about-company-container {

                    display: flex;
                    flex-direction: column;
        
                    h2 {
                        margin: 0 10%;
                    }
        
                    p {
                        display: block;
                        margin: 15px 10%;
                        box-sizing: border-box;
                        text-align: justify;
                        color: #ffffff;
                    }

                    .rectangle-border-about {
                        width: 100px;
                        border: 2px solid #44d0ff;
                        margin: 70px 10%;
                    }
                }

            }

            .ceo-profiles {
                display: flex;
                margin: 80px 15%;

                .profile {

                    background-color: #2f2f2f;
                    text-align: center;
                    margin: 0 15px;

                    .container-image {

                        width: 100%;
                        height: 150px;

                        img {
                            position: relative;
                            bottom: 60px;
                            width: 90%;
                            height: 200px;
                        }
                    }



                    .profile-info {
                        text-align: start;
                        padding: 0 15px;

                        i {
                            font-size: 25px;
                            color: #0275b4;
                            padding: 5px 0;
                        }
                    }

                    .profile-description {
                        padding: 15px;
                        text-align: justify;
                        font-size: 0.9em;
                    }
                }

            }

            @include tablet {
                .about-company {
                    display: block;
                    margin: 0 10% 100px 10%;

                    img {
                        display: none;
                    }
                }

                .ceo-profiles {
                    display: block;
                    margin: 80px 10%;

                    .profile {
                        margin: 50px 0;

                        .container-image {

                            height: auto;
    
                            img {
                                bottom: 0px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        section#services {
            padding: 50px 0;
            position: relative;

            h2 {
                width: 100%;
                text-align: center;
            }

            .rectangle-border-services {
                width: 120px;
                border: 2px solid #44d0ff;
                margin: 70px auto;
            }

            p.subtitle {
                margin: 70px 30%;
                text-align: justify;
            }

            .overlay-container {

                width: 80%;

                .container {
                    display: flex;
                    padding: 40px 0;
                    justify-content: center;
                    
                    .card {
                        margin: 0 5px;
                        width: 170px;

                        .card-image {
                            width: 100%;
                            height: 380px;
                            border-bottom: 2px solid #44d0ff;
                        }

                        .card-description {
                            width: 100%;
                            
                            h3 {
                                background-color: #161616;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: -webkit-center;
                                padding: 5px;
                            }

                            p {
                                text-align: center;
                                background-color: #ffffff;
                                padding: 20px;
                                color: #444444;
                                height: 200px;
                            }
                        }
                    }
    
                    .grey-rectangle.fixed {
                        z-index: -1;
                        position: absolute;
                        top: 680px;
                        height: 430px;
                        width: 100%;
                        background-color: #2f2f2f;
                    }
                }
            }

            @include tablet {
 
                padding-top: 0;

                p.subtitle {
                    margin: 70px 15%;
                }

                .overlay-container .container {
                    display: flex;
                    overflow: auto;
                    justify-content: left;

                    .card {
                        
                        border: 1px solid #ffffff;

                        .card-image {
                            display: none;
                        }
                    }
                }
            }
        }

        footer {

            border-top: 1px solid #44d0ff;

            .footer {
                
                display: flex;
                
                img {
                    height: 200px;
                }

                .contact {
                    align-self: center;

                    h3 {
                        padding-bottom: 10px;
                    }

                    a {
                        display: flex;
                        padding: 10px 0;
                        text-decoration: none;

                        i {
                            flex: 1;
                            margin-right: 5px;
                            color: #ffffff;
                        }

                        p {
                            flex: 20;
                        }
                    }
                }
            }

            span.copyright {
                display: block;
                width: 100%;
                text-align: right;
                padding: 5px 10px;
                margin: 3px 0;
                box-sizing: border-box;

                a {
                    text-decoration: none;
                    color: #444444;
                }

            }

            @include tablet {
                .footer {
                    display: block;
                    text-align: center;

                    .contact {
                        
                        h3 {
                            margin: 0 15%;
                            text-align: left;
                        }

                        a {
                            margin: 0 15%;
    
                            p {
                                text-align: left;
                            }
                        }
                    }
                    
                    

                    

                }
            }
        }
    }
}
